.cv-header {
    background-color: #0e374e;
    color: white;
    padding: 2em 0;
    gap: 1em;
}

.contact-name { 
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
}

/* ============================= */

.cv-content {
    padding: 2.5em;
    gap: 2em;
}