@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.no-margin {
    margin: 0;
}

.icon-container {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: #f3f4f6;
    display: grid;
    grid-template-columns: 0.1fr 1.2fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1em;
    padding: 1.5em;
    min-height: 100vh;
}

.navbar-section {
    background-color: white;
    border-radius: 0.5em;
    padding: 1em 1em;
    display: flex;
    gap: 1.5em;
    max-height: fit-content;
}

.edit-section {
    gap: 2em;
}

.preview-section {
    background-color: white;
    width: 793px;
    height: 1122px;
    overflow: hidden;
}
